extends layout

block content
    form(action='/post', method='POST')
        label(for='title') Title
        input(type='text', id='title', name='title', placeholder='New Post')
        label(for='author') Author
        input(type='text', id='author', name='author' placeholder='Author')
        label(for='content') Content
        textarea(id='content', name='content', rows=10, cols=50 placeholder='Enter your post content')
        input(type='submit')